html,body{
  background-color: black;
}
#root{
  background-color: black;
}
.navbar-brand{
  display: flex!important;
  align-items: center;
}
.navbar{
  background-color: #242424;
}
.profile{
  color: white!important;
}
.adinfo div b{
  color: white!important;
}
.adinfo div{
  margin-top: 10px;
  margin-bottom: 10px;
}
.btn-secondary{
  background-color: #242424!important;
}